<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Account number</th>
      <th scope="col">Client</th>
      <th scope="col">Balance</th>
      <th scope="col">Account type</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <% accounts.forEach( (account) => { %>
    <tr>
      <th scope="row"><%= account.id %></th>
      <td><%= account.account_no %></td>
      <td><%= account.client_id %></td>
      <td><%= account.balance %></td>
      <td><%= account.type%></td>
      <td>
        <a
          href="/accounts/delete/<%= account.id %>"
          type="button"
          class="btn btn-danger"
          >Delete</a
        >
        <a
          href="/accounts/edit/<%= account.id %>"
          type="button"
          class="btn btn-warning"
          >Edit</a
        >
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
